.postcancel {
  float: left !important;
  margin-left: 0 !important;
}
.postsubmit {
  float: left !important;
  margin-left: 0 !important;
}
iframe {
  float: none;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.btn .piclink {
  width: 100% !important;
}

input {
  width: 50%;
}

.postsubmit{
  width: 50%;
}

.postcancel{
  width: 50%;
}